.searchContainer {
    display: flex;
    align-items: center;
}

.search {
    height: 37px;
    width: 568px;
    border: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px 0 0 10px;
    padding: 0 12px;
    outline: none;
}

.button {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
