.hero{

    width:212px;
    height:212px;
    }

.maindiv{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1{
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    color:#FFFFFF;
}
