.feedback{
    height:47px;
    width:170px;
    margin-right: 32px;
    border-radius: 12px;
    background-color: #121212;
    color: #34C94B;

    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    cursor: pointer;

}

